# ==== CONFIGURACIÓN DE SERVER ====
APP_HOST=127.0.0.1
APP_PORT=8000
APP_NAME="Data Bridge"
APP_ENV=development
DB_REQUIRED=false

# ==== CONEXIÓN A POSTGRESQL ====
PG_HOST_MV3=
PG_PORT_MV3=5432
PG_DATABASE_MV3=
PG_USERNAME_MV3=
PG_PASSWORD_MV3=
PG_SCHEMA_MV3=

# PG_HOST_MV3=
# PG_PORT_MV3=5432
# PG_DATABASE_MV3=
# PG_USERNAME_MV3=
# PG_PASSWORD_MV3=
# PG_SCHEMA_MV3=

# ==== CONEXIÓN A ZOHO_ANALYTICS ====
# Security User
SEC_USER=
SEC_PASSWORD=
SEC_CITY=Cali

# ACCESS TOKEN ZOHO
ZH_TOKEN_URL=https://accounts.zoho.com/oauth/v2/token
ZH_TOKEN_ID=
ZH_TOKEN_SECRET=
ZHA_REFRESH_TOKEN=
ZHC_REFRESH_TOKEN=
ZH_GRANT_TYPE=refresh_token
ZH_ACCESS_TOKEN=
ZH_TOKEN_EXPIRY=

# API ANALYTICS
ZHA_API_URL=https://analyticsapi.zoho.com/restapi/v2/workspaces/
ZHA_API_BULK_URL=https://analyticsapi.zoho.com/restapi/v2/bulk/workspaces/
ZHA_ORGID=67285488
ZHA_WS_DEFAUL=839514000007901873
ZHA_WS_AUTOMATIC=839514000198247256
ZHA_FILE_JOBID_JSON=data/tokens/za_jobId.json
ZHA_FILE_TOKEN_JSON=data/tokens/za_tokens.json
ZHA_SCOPE=ZohoAnalytics.data.read ZohoAnalytics.data.delete ZohoAnalytics.data.update ZohoAnalytics.data.create ZohoAnalytics.data.all

# VIEWS ANALYTICS
